/* You can add global styles to this file, and also import other style files */
html, body {
  height: 95%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (max-width: 500px) {
  html, body {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
